* {
	box-sizing: border-box;
}

body {
	background: black;
	font-family: "Caveat", cursive;
}

.postcard {
	background: white;
	width: 600px;
	margin: 100px auto;
	padding: 20px;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postcard-header h1 {
	font-size: 45px;
	margin: 0;
}

.postcard-header img {
	width: 70px;
	height: 70px;
}

.postcard-body {
	display: flex;
	margin-top: 20px;
	gap: 20px;
}

.body-left,
.body-right {
	width: 50%;
}

.body-left p {
	font-size: 24px;
	margin-top: 0;
}

.body-right input {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 15px;
	font-size: 22px;
	font-family: "Caveat", cursive;
}

.postcard-footer {
	text-align: center;
	margin-top: 20px;
}

.postcard-footer button {
	font-family: "Caveat", cursive;
	font-size: 22px;
	padding: 5px 15px;
	background: lightgray;
	border: 1px solid gray;
}
